:root {
  --spectrum-global-color-celery-400: rgb(61, 167, 78);
  --spectrum-global-color-celery-500: rgb(68, 181, 86);
  --spectrum-global-color-celery-600: rgb(75, 195, 95);
  --spectrum-global-color-celery-700: rgb(81, 210, 103);
  --spectrum-global-color-chartreuse-400: rgb(124, 195, 63);
  --spectrum-global-color-chartreuse-500: rgb(133, 208, 68);
  --spectrum-global-color-chartreuse-600: rgb(142, 222, 73);
  --spectrum-global-color-chartreuse-700: rgb(155, 236, 84);
  --spectrum-global-color-yellow-400: rgb(210, 178, 0);
  --spectrum-global-color-yellow-500: rgb(223, 191, 0);
  --spectrum-global-color-yellow-600: rgb(237, 204, 0);
  --spectrum-global-color-yellow-700: rgb(250, 217, 0);
  --spectrum-global-color-magenta-400: rgb(202, 41, 150);
  --spectrum-global-color-magenta-500: rgb(216, 55, 144);
  --spectrum-global-color-magenta-600: rgb(226, 73, 157);
  --spectrum-global-color-magenta-700: rgb(236, 90, 170);
  --spectrum-global-color-fuchsia-400: rgb(177, 48, 189);
  --spectrum-global-color-fuchsia-500: rgb(192, 56, 204);
  --spectrum-global-color-fuchsia-600: rgb(207, 62, 220);
  --spectrum-global-color-fuchsia-700: rgb(217, 81, 229);
  --spectrum-global-color-purple-400: rgb(134, 76, 204);
  --spectrum-global-color-purple-500: rgb(146, 86, 217);
  --spectrum-global-color-purple-600: rgb(157, 100, 225);
  --spectrum-global-color-purple-700: rgb(168, 115, 223);
  --spectrum-global-color-indigo-400: rgb(92, 92, 224);
  --spectrum-global-color-indigo-500: rgb(103, 103, 236);
  --spectrum-global-color-indigo-600: rgb(117, 117, 241);
  --spectrum-global-color-indigo-700: rgb(130, 130, 246);
  --spectrum-global-color-seafoam-400: rgb(22, 135, 140);
  --spectrum-global-color-seafoam-500: rgb(27, 149, 154);
  --spectrum-global-color-seafoam-600: rgb(32, 163, 168);
  --spectrum-global-color-seafoam-700: rgb(35, 178, 184);
  --spectrum-global-color-red-400: rgb(215, 55, 63);
  --spectrum-global-color-red-500: rgb(227, 72, 80);
  --spectrum-global-color-red-600: rgb(236, 91, 98);
  --spectrum-global-color-red-700: rgb(247, 109, 116);
  --spectrum-global-color-orange-400: rgb(218, 123, 17);
  --spectrum-global-color-orange-500: rgb(230, 134, 25);
  --spectrum-global-color-orange-600: rgb(242, 148, 35);
  --spectrum-global-color-orange-700: rgb(249, 164, 63);
  --spectrum-global-color-green-400: rgb(38, 142, 108);
  --spectrum-global-color-green-500: rgb(45, 157, 120);
  --spectrum-global-color-green-600: rgb(51, 171, 132);
  --spectrum-global-color-green-700: rgb(57, 185, 144);
  --spectrum-global-color-blue-400: rgb(20, 115, 230);
  --spectrum-global-color-blue-500: rgb(38, 128, 235);
  --spectrum-global-color-blue-600: rgb(55, 142, 240);
  --spectrum-global-color-blue-700: rgb(75, 156, 245);
  --spectrum-global-color-gray-50: rgb(8, 8, 8);
  --spectrum-global-color-gray-75: rgb(26, 26, 26);
  --spectrum-global-color-gray-100: rgb(30, 30, 30);
  --spectrum-global-color-gray-200: rgb(44, 44, 44);
  --spectrum-global-color-gray-300: rgb(57, 57, 57);
  --spectrum-global-color-gray-400: rgb(73, 73, 73);
  --spectrum-global-color-gray-500: rgb(92, 92, 92);
  --spectrum-global-color-gray-600: rgb(124, 124, 124);
  --spectrum-global-color-gray-700: rgb(162, 162, 162);
  --spectrum-global-color-gray-800: rgb(200, 200, 200);
  --spectrum-global-color-gray-900: rgb(239, 239, 239);
  --spectrum-alias-background-color-default: var(--spectrum-global-color-gray-100);
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-background-color-label-gray: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0,0,0,0.6);
  --spectrum-alias-dropshadow-color: rgba(0,0,0,0.8);
  --spectrum-alias-background-color-hover-overlay: rgba(239,239,239,0.08);
  --spectrum-alias-highlight-hover: rgba(239,239,239,0.08);
  --spectrum-alias-highlight-active: rgba(239,239,239,0.15);
  --spectrum-alias-highlight-selected: rgba(38,128,235,0.2);
  --spectrum-alias-highlight-selected-hover: rgba(38,128,235,0.3);
  --spectrum-alias-text-highlight-color: rgba(38,128,235,0.3);
  --spectrum-alias-background-color-quickactions: rgba(30,30,30,0.9);
  --spectrum-alias-background-color-quickactions-overlay: rgba(0,0,0,0.2);
  --spectrum-alias-placeholder-text-color: var(--spectrum-global-color-gray-600);
  --spectrum-alias-placeholder-text-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-alias-placeholder-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-alias-placeholder-text-color-selected: var(--spectrum-global-color-gray-800);
  --spectrum-alias-label-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-alias-text-color: var(--spectrum-global-color-gray-800);
  --spectrum-alias-text-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-alias-text-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-alias-text-color-key-focus: var(--spectrum-global-color-blue-600);
  --spectrum-alias-text-color-mouse-focus: var(--spectrum-global-color-blue-600);
  --spectrum-alias-text-color-disabled: var(--spectrum-global-color-gray-500);
  --spectrum-alias-text-color-invalid: var(--spectrum-global-color-red-500);
  --spectrum-alias-text-color-selected: var(--spectrum-global-color-blue-600);
  --spectrum-alias-text-color-selected-neutral: var(--spectrum-global-color-gray-900);
  --spectrum-alias-title-text-color: var(--spectrum-global-color-gray-900);
  --spectrum-alias-heading-text-color: var(--spectrum-global-color-gray-900);
  --spectrum-alias-border-color: var(--spectrum-global-color-gray-300);
  --spectrum-alias-border-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-alias-border-color-focus: var(--spectrum-global-color-blue-400);
  --spectrum-alias-border-color-down: var(--spectrum-global-color-blue-500);
  --spectrum-alias-border-color-extralight: var(--spectrum-global-color-gray-100);
  --spectrum-alias-border-color-light: var(--spectrum-global-color-gray-200);
  --spectrum-alias-border-color-mid: var(--spectrum-global-color-gray-300);
  --spectrum-alias-border-color-dark: var(--spectrum-global-color-gray-400);
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-border-color-translucent-dark: rgba(0,0,0,0.05);
  --spectrum-alias-border-color-translucent-darker: rgba(0,0,0,0.1);
  --spectrum-alias-focus-color: var(--spectrum-global-color-blue-400);
  --spectrum-alias-track-color-default: var(--spectrum-global-color-gray-300);
  --spectrum-alias-track-color-disabled: var(--spectrum-global-color-gray-300);
  --spectrum-alias-track-color-over-background: rgba(255,255,255,0.2);
  --spectrum-alias-icon-color: var(--spectrum-global-color-gray-700);
  --spectrum-alias-icon-color-over-background: var(--spectrum-global-color-static-white);
  --spectrum-alias-icon-color-hover: var(--spectrum-global-color-gray-900);
  --spectrum-alias-icon-color-down: var(--spectrum-global-color-gray-900);
  --spectrum-alias-icon-color-focus: var(--spectrum-global-color-gray-900);
  --spectrum-alias-icon-color-disabled: var(--spectrum-global-color-gray-400);
  --spectrum-alias-icon-color-selected-neutral: var(--spectrum-global-color-gray-900);
  --spectrum-alias-icon-color-selected: var(--spectrum-global-color-blue-500);
  --spectrum-alias-icon-color-selected-hover: var(--spectrum-global-color-blue-600);
  --spectrum-alias-icon-color-selected-down: var(--spectrum-global-color-blue-700);
  --spectrum-alias-icon-color-selected-focus: var(--spectrum-global-color-blue-600);
  --spectrum-alias-icon-color-error: var(--spectrum-global-color-red-400);
  --spectrum-alias-radial-reaction-color-default: rgba(200,200,200,0.6);
  --spectrum-alias-pasteboard-background-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-border-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-appframe-separator-color: var(--spectrum-global-color-gray-50);
  --spectrum-alias-toolbar-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-semantic-negative-color-background: var(--spectrum-global-color-static-red-700);
  --spectrum-semantic-negative-color-default: var(--spectrum-global-color-red-500);
  --spectrum-semantic-negative-color-dark: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-color-border: var(--spectrum-global-color-red-400);
  --spectrum-semantic-negative-color-icon: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-color-status: var(--spectrum-global-color-red-400);
  --spectrum-semantic-negative-color-text-large: var(--spectrum-global-color-red-500);
  --spectrum-semantic-negative-color-text-small: var(--spectrum-global-color-red-600);
  --spectrum-semantic-negative-color-state-down: var(--spectrum-global-color-red-700);
  --spectrum-semantic-negative-color-state-focus: var(--spectrum-global-color-red-400);
  --spectrum-semantic-notice-color-background: var(--spectrum-global-color-static-orange-700);
  --spectrum-semantic-notice-color-default: var(--spectrum-global-color-orange-500);
  --spectrum-semantic-notice-color-dark: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-color-border: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-notice-color-icon: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-color-status: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-notice-color-text-large: var(--spectrum-global-color-orange-500);
  --spectrum-semantic-notice-color-text-small: var(--spectrum-global-color-orange-600);
  --spectrum-semantic-notice-color-state-down: var(--spectrum-global-color-orange-700);
  --spectrum-semantic-notice-color-state-focus: var(--spectrum-global-color-orange-400);
  --spectrum-semantic-positive-color-background: var(--spectrum-global-color-static-green-700);
  --spectrum-semantic-positive-color-default: var(--spectrum-global-color-green-500);
  --spectrum-semantic-positive-color-dark: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-color-border: var(--spectrum-global-color-green-400);
  --spectrum-semantic-positive-color-icon: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-color-status: var(--spectrum-global-color-green-400);
  --spectrum-semantic-positive-color-text-large: var(--spectrum-global-color-green-500);
  --spectrum-semantic-positive-color-text-small: var(--spectrum-global-color-green-600);
  --spectrum-semantic-positive-color-state-down: var(--spectrum-global-color-green-700);
  --spectrum-semantic-positive-color-state-focus: var(--spectrum-global-color-green-400);
  --spectrum-semantic-informative-color-background: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-informative-color-default: var(--spectrum-global-color-blue-500);
  --spectrum-semantic-informative-color-dark: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-color-border: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-informative-color-icon: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-color-status: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-informative-color-text-large: var(--spectrum-global-color-blue-500);
  --spectrum-semantic-informative-color-text-small: var(--spectrum-global-color-blue-600);
  --spectrum-semantic-informative-color-state-down: var(--spectrum-global-color-blue-700);
  --spectrum-semantic-informative-color-state-focus: var(--spectrum-global-color-blue-400);
  --spectrum-semantic-cta-color-background-default: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-cta-color-background-hover: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-cta-color-background-down: var(--spectrum-global-color-static-blue-700);
  --spectrum-semantic-background-color-key-focus: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-neutral-color-background: var(--spectrum-global-color-static-gray-700);
  --spectrum-semantic-presence-color-1: var(--spectrum-global-color-static-red-500);
  --spectrum-semantic-presence-color-2: var(--spectrum-global-color-static-orange-400);
  --spectrum-semantic-presence-color-3: var(--spectrum-global-color-static-yellow-400);
  --spectrum-semantic-presence-color-4: rgb(75, 204, 162);
  --spectrum-semantic-presence-color-5: rgb(0, 199, 255);
  --spectrum-semantic-presence-color-6: rgb(0, 140, 184);
  --spectrum-semantic-presence-color-7: rgb(126, 75, 243);
  --spectrum-semantic-presence-color-8: var(--spectrum-global-color-static-fuchsia-600);
}
