:root {
  --spectrum-alias-border-size-thin: 1px;
  --spectrum-alias-border-size-thick: 2px;
  --spectrum-alias-border-size-thicker: 4px;
  --spectrum-alias-border-size-thickest: 8px;
  --spectrum-alias-grid-baseline: 8px;
  --spectrum-alias-grid-gutter-xsmall: 16px;
  --spectrum-alias-grid-gutter-small: 24px;
  --spectrum-alias-grid-gutter-medium: 32px;
  --spectrum-alias-grid-gutter-large: 40px;
  --spectrum-alias-grid-gutter-xlarge: 48px;
  --spectrum-alias-grid-margin-xsmall: 16px;
  --spectrum-alias-grid-margin-small: 24px;
  --spectrum-alias-grid-margin-medium: 32px;
  --spectrum-alias-grid-margin-large: 40px;
  --spectrum-alias-grid-margin-xlarge: 48px;
  --spectrum-alias-grid-layout-region-margin-bottom-xsmall: 16px;
  --spectrum-alias-grid-layout-region-margin-bottom-small: 24px;
  --spectrum-alias-grid-layout-region-margin-bottom-medium: 32px;
  --spectrum-alias-grid-layout-region-margin-bottom-large: 40px;
  --spectrum-alias-grid-layout-region-margin-bottom-xlarge: 48px;
  --spectrum-alias-radial-reaction-size-default: 44px;
  --spectrum-alias-font-family-ar: myriad-arabic, adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
  --spectrum-alias-font-family-he: myriad-hebrew, adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
  --spectrum-alias-font-family-zh: adobe-clean-han-traditional, source-han-traditional, 'MingLiu', 'Heiti TC Light','sans-serif';
  --spectrum-alias-font-family-zhhans: adobe-clean-han-simplified-c, source-han-simplified-c, 'SimSun', 'Heiti SC Light', 'sans-serif';
  --spectrum-alias-font-family-ko: adobe-clean-han-korean, source-han-korean, 'Malgun Gothic', 'Apple Gothic', 'sans-serif';
  --spectrum-alias-font-family-ja: adobe-clean-han-japanese, source-han-japanese, 'Yu Gothic', '\30E1 \30A4 \30EA \30AA', '\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3', 'Hiragino Kaku Gothic Pro W3', 'Osaka', '\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF', 'MS PGothic', 'sans-serif';
  --spectrum-alias-font-family-condensed: adobe-clean-han-traditional, source-han-traditional, 'MingLiu', 'Heiti TC Light', adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
  --spectrum-alias-line-height-body: 1.5;
  --spectrum-alias-line-height-title: 1.3;
  --spectrum-alias-body-han-text-line-height: 1.7;
  --spectrum-alias-body-text-font-family: adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
  --spectrum-alias-body-text-line-height: 1.5;
  --spectrum-alias-body-text-font-weight: 400;
  --spectrum-alias-body-text-font-weight-strong: 700;
  --spectrum-alias-heading-han-text-line-height: 1.5;
  --spectrum-alias-heading-text-line-height: 1.3;
  --spectrum-alias-heading-text-font-weight-regular: 700;
  --spectrum-alias-heading-text-font-weight-regular-strong: 900;
  --spectrum-alias-heading-text-font-weight-quiet: 300;
  --spectrum-alias-heading-text-font-weight-quiet-strong: 700;
  --spectrum-alias-heading-text-font-weight-strong: 900;
  --spectrum-alias-heading-text-font-weight-strong-strong: 900;
  --spectrum-alias-subheading-text-font-weight: 700;
  --spectrum-alias-subheading-text-font-weight-strong: 900;
  --spectrum-alias-detail-text-font-weight: 400;
  --spectrum-alias-detail-text-font-weight-strong: 700;
  --spectrum-alias-article-text-font-family: adobe-clean-serif, 'Source Serif Pro', Georgia, serif;
  --spectrum-alias-article-body-text-font-weight: 400;
  --spectrum-alias-article-body-text-font-weight-strong: 900;
  --spectrum-alias-article-heading-text-font-weight: 700;
  --spectrum-alias-article-heading-text-font-weight-strong: 900;
  --spectrum-alias-article-heading-text-font-weight-quiet: 400;
  --spectrum-alias-article-heading-text-font-weight-quiet-strong: 700;
  --spectrum-alias-article-subheading-text-font-weight: 700;
  --spectrum-alias-article-subheading-text-font-weight-strong: 900;
  --spectrum-alias-article-detail-text-font-weight: 400;
  --spectrum-alias-article-detail-text-font-weight-strong: 700;
  --spectrum-alias-code-text-font-family: 'Source Code Pro', Monaco, monospace;
  --spectrum-alias-han-heading-text-font-weight-regular: 700;
  --spectrum-alias-han-heading-text-font-weight-regular-emphasis: 800;
  --spectrum-alias-han-heading-text-font-weight-regular-strong: 900;
  --spectrum-alias-han-heading-text-font-weight-quiet: 300;
  --spectrum-alias-han-heading-text-font-weight-quiet-emphasis: 400;
  --spectrum-alias-han-heading-text-font-weight-quiet-strong: 700;
  --spectrum-alias-han-heading-text-font-weight-strong: 900;
  --spectrum-alias-han-heading-text-font-weight-strong-emphasis: 900;
  --spectrum-alias-han-heading-text-font-weight-strong-strong: 900;
  --spectrum-alias-han-body-text-font-weight-regular: 400;
  --spectrum-alias-han-body-text-font-weight-emphasis: 700;
  --spectrum-alias-han-body-text-font-weight-strong: 900;
  --spectrum-alias-han-subheading-text-font-weight-regular: 700;
  --spectrum-alias-han-subheading-text-font-weight-emphasis: 800;
  --spectrum-alias-han-subheading-text-font-weight-strong: 900;
  --spectrum-alias-han-detail-text-font-weight: 400;
  --spectrum-alias-han-detail-text-font-weight-emphasis: 700;
  --spectrum-alias-han-detail-text-font-weight-strong: 900;
  --spectrum-alias-code-text-font-weight-regular: 400;
  --spectrum-alias-code-text-font-weight-strong: 700;
  --spectrum-alias-code-text-line-height: 1.5;
  --spectrum-alias-heading-margin-bottom: 0.25em;
  --spectrum-alias-body-margin-bottom: 0.75em;
}
