:root {
  --spectrum-quickactions-button-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-quickactions-button-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-quickactions-icon-button-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-quickactions-icon-button-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-quickactions-text-button-gap-y: var(--spectrum-global-dimension-size-50);
  --spectrum-quickactions-text-button-gap-x: var(--spectrum-global-dimension-size-50);
  --spectrum-quickactions-padding-x: var(--spectrum-global-dimension-size-50);
  --spectrum-quickactions-padding-y: var(--spectrum-global-dimension-size-50);
  --spectrum-quickactions-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-quickactions-height: var(--spectrum-global-dimension-size-500);
}
