:root {
  --spectrum-dropdown-thumbnail-small-placeholder-text-color: var(--spectrum-global-color-gray-900);
  --spectrum-dropdown-thumbnail-small-text-color: var(--spectrum-alias-text-color-hover);
  --spectrum-dropdown-thumbnail-small-icon-color: var(--spectrum-alias-icon-color-focus);
  --spectrum-dropdown-thumbnail-small-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-dropdown-thumbnail-small-border-color: var(--spectrum-global-color-red-500);
  --spectrum-dropdown-thumbnail-small-border-size: var(--spectrum-alias-border-size-thin);
  --spectrum-dropdown-thumbnail-small-validation-icon-color: var(--spectrum-global-color-red-600);
  --spectrum-dropdown-thumbnail-small-placeholder-text-font-style: var(--spectrum-global-font-style-italic);
  --spectrum-dropdown-thumbnail-small-placeholder-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-thumbnail-small-placeholder-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-dropdown-thumbnail-small-text-font-family: var(--spectrum-alias-body-text-font-family);
  --spectrum-dropdown-thumbnail-small-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-dropdown-thumbnail-small-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-dropdown-thumbnail-small-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-dropdown-thumbnail-small-text-letter-spacing: var(--spectrum-global-font-letter-spacing-none);
  --spectrum-dropdown-thumbnail-small-text-transform: none;
  --spectrum-dropdown-thumbnail-small-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-dropdown-thumbnail-small-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-dropdown-thumbnail-small-border-size-focus: var(--spectrum-alias-border-size-thick);
  --spectrum-dropdown-thumbnail-small-ui-icon-height: 6px;
  --spectrum-dropdown-thumbnail-small-ui-icon-width: var(--spectrum-global-dimension-size-125);
  --spectrum-dropdown-thumbnail-small-height: var(--spectrum-global-dimension-size-400);
  --spectrum-dropdown-thumbnail-small-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-dropdown-thumbnail-small-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-dropdown-thumbnail-small-affixed-border-radius: 0;
  --spectrum-dropdown-thumbnail-small-label-gap-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-label-gap-y: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-asterisk-size: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-asterisk-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-dropdown-thumbnail-small-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-icon-margin-left: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-dropdown-thumbnail-small-success-icon-height: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-success-icon-width: var(--spectrum-global-dimension-size-150);
  --spectrum-dropdown-thumbnail-small-error-icon-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-error-icon-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-dropdown-thumbnail-small-popover-offset-y: var(--spectrum-global-dimension-size-75);
  --spectrum-dropdown-thumbnail-small-popover-offset-x: 0px;
  --spectrum-dropdown-thumbnail-small-touch-hit-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-touch-hit-y: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-popover-max-height: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-thumbnail-small-popover-max-width: var(--spectrum-global-dimension-size-2400);
  --spectrum-dropdown-thumbnail-small-image-padding-x: var(--spectrum-global-dimension-size-100);
  --spectrum-dropdown-thumbnail-small-image-height: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-image-width: var(--spectrum-global-dimension-size-225);
  --spectrum-dropdown-thumbnail-small-image-border-radius: var(--spectrum-alias-border-radius-small);
  --spectrum-dropdown-thumbnail-small-image-border-size: var(--spectrum-alias-border-size-thin);
}
