:root {
  --spectrum-divider-small-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-divider-small-height: var(--spectrum-global-dimension-size-10);
  --spectrum-divider-small-border-radius: var(--spectrum-global-dimension-size-10);
}
