:root {
  --spectrum-sidenav-multilevel-item-background-color: var(--spectrum-alias-highlight-hover);
  --spectrum-sidenav-multilevel-item-text-color: var(--spectrum-alias-text-color-hover);
  --spectrum-sidenav-multilevel-header-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-sidenav-multilevel-heading-text-color: var(--spectrum-global-color-gray-700);
  --spectrum-sidenav-multilevel-main-item-background-color: var(--spectrum-alias-highlight-hover);
  --spectrum-sidenav-multilevel-main-item-text-color: var(--spectrum-alias-text-color-hover);
  --spectrum-sidenav-multilevel-item-border-color: var(--spectrum-alias-border-color-focus);
  --spectrum-sidenav-multilevel-main-item-border-color: var(--spectrum-alias-border-color-focus);
  --spectrum-sidenav-multilevel-min-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-sidenav-multilevel-width: var(--spectrum-global-dimension-size-3000);
  --spectrum-sidenav-multilevel-item-text-size: var(--spectrum-alias-font-size-default);
  --spectrum-sidenav-multilevel-item-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-sidenav-multilevel-item-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-sidenav-multilevel-item-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-sidenav-multilevel-item-text-line-height: var(--spectrum-alias-body-text-line-height);
  --spectrum-sidenav-multilevel-item-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-item-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-item-height: var(--spectrum-alias-single-line-height);
  --spectrum-sidenav-multilevel-item-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-item-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-sidenav-multilevel-item-gap: var(--spectrum-global-dimension-size-50);
  --spectrum-sidenav-multilevel-icon-size: var(--spectrum-alias-workflow-icon-size);
  --spectrum-sidenav-multilevel-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-sidenav-multilevel-icon-padding-y: var(--spectrum-global-dimension-size-85);
  --spectrum-sidenav-multilevel-header-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-sidenav-multilevel-header-font-weight: var(--spectrum-global-font-weight-medium);
  --spectrum-sidenav-multilevel-header-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-sidenav-multilevel-header-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-sidenav-multilevel-header-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-header-height: var(--spectrum-alias-single-line-height);
  --spectrum-sidenav-multilevel-header-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-header-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-sidenav-multilevel-header-gap-top: var(--spectrum-global-dimension-size-200);
  --spectrum-sidenav-multilevel-header-gap-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-sidenav-multilevel-heading-text-size: var(--spectrum-global-dimension-font-size-50);
  --spectrum-sidenav-multilevel-heading-font-weight: var(--spectrum-global-font-weight-medium);
  --spectrum-sidenav-multilevel-heading-text-font-weight: var(--spectrum-global-font-weight-medium);
  --spectrum-sidenav-multilevel-heading-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-sidenav-multilevel-heading-text-line-height: var(--spectrum-alias-heading-text-line-height);
  --spectrum-sidenav-multilevel-heading-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-sidenav-multilevel-heading-text-letter-spacing: var(--spectrum-global-font-letter-spacing-medium);
  --spectrum-sidenav-multilevel-heading-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-heading-text-baseline: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-heading-height: var(--spectrum-alias-single-line-height);
  --spectrum-sidenav-multilevel-heading-padding-x: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-heading-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-sidenav-multilevel-heading-gap-top: var(--spectrum-global-dimension-size-200);
  --spectrum-sidenav-multilevel-heading-gap-bottom: var(--spectrum-global-dimension-size-50);
  --spectrum-sidenav-multilevel-item-touch-hit-top: var(--spectrum-global-dimension-size-25);
  --spectrum-sidenav-multilevel-item-touch-hit-bottom: var(--spectrum-global-dimension-size-25);
  --spectrum-sidenav-multilevel-main-item-font-weight: var(--spectrum-global-font-weight-bold);
  --spectrum-sidenav-multilevel-item-indentation: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-item-indentation-level1: var(--spectrum-global-dimension-size-150);
  --spectrum-sidenav-multilevel-item-indentation-level2: var(--spectrum-global-dimension-size-300);
  --spectrum-sidenav-multilevel-item-indentation-level3: var(--spectrum-global-dimension-size-450);
}
