:root {
  --spectrum-label-large-over-background-text-color: var(--spectrum-global-color-static-white);
  --spectrum-label-large-over-background-text-font-style: var(--spectrum-global-font-style-regular);
  --spectrum-label-large-over-background-text-font-weight: var(--spectrum-global-font-weight-regular);
  --spectrum-label-large-over-background-text-size: var(--spectrum-global-dimension-font-size-200);
  --spectrum-label-large-over-background-margin-bottom: var(--spectrum-global-dimension-size-150);
  --spectrum-label-large-over-background-text-line-height: var(--spectrum-alias-line-height-large);
}
